
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.site-header {
    background-color: #999999;
    color: #ffffff;
    padding: 20px;
    text-align: left;

}

.site-header h1 {
    margin-left: 2%;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: lighter;
}
